@using WebAppAspNetMvcDatabaseQuery.Models
@model List<Client>

<h3>Клиенты</h3>

@Html.ActionLink("Добавить запись", "Create", "Clients")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Имя клиента
            </th>
            <th>
                Фамилия клиента
            </th>
            <th>
                Возраст клиента
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    @client.Name
                </td>
                <td>
                    @client.Surname
                </td>
                <td>
                    @client.Age
                </td>
                <td>
                    @client.Birthday.Value.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Clients", new { id = client.Id }, new { })
                    @Html.ActionLink("Изменить", "Edit", "Clients", new { id = client.Id }, new { })
                </td>
            </tr>
        }
    </tbody>
</table>